@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    display: flex;
    align-items: left;
    justify-content: left;
    min-height: 70vh;
    background: linear-gradient(to left top, blue, magenta);
    position: relative;
}

.wrapper i {
    width: 50px;
    height: 50px;
    background: white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* box-shadow: 1px 2px 5px rgba(red, green, blue, 10); */
}

.wrapper i:first-child {
    left: -5px;
}

.wrapper i:last-child {
    right: -5px;
}

.wrapper .carousel {
    flex: 1;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - 32px) / 3);;
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel .card {
    scroll-snap-align: start;
    position: relative;
    flex: 0 0 auto;
    list-style: none;
    background: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    margin: 0 8px;
    min-width: calc((100% - 32px) / 3);
    height: 350px;
}

.card h2 {
    background-color: #f0f0f0;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 5px;
    max-height: 60px; /* Set a fixed maximum height for the title */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.2;
}

.name_and_img {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* padding: 10px 0; */
    background-color: #f0f0f0;
    height: 100px;
    overflow: hidden;
}

.card .img {
    background: magenta;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    margin-right: 20px;
}

.card .img img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    align-items: center;
    border-radius: 50%;
}

.course {
    width: 50%;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    text-align: center; /* Horizontally centre */
    height: 100%; /* fill 100% of the height, so the alignment can take effect */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.desc {
    text-align: center;
    padding: 10px;
    width: 100%;
    font-weight: 100;
    font-size: small;
}

.tools
{
    position: absolute;
    bottom: 20px;
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    width: 100%; /* Ensure sections take up full width */
    font-family: 'Courier New', Courier, monospace;
}




/* The following lines of code make it "squeeze-proof" */

/* Targetting screens with a max width of 900px */
@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

/* Targetting screens with a max width of 600px */
@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}